nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#home {
    height: 100vh;
    background-image: url(img/banner2.png);
    background-size: cover;
    background-position: bottom center;
    padding-top: 10px;
    
}

header nav h1 {
    font-size: 40px;
    font-weight: 800;
}

#nav-bar {
    display: flex;
    flex-direction: row;
}

header nav ul li {
    margin: 0 16px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #cd0a6b;
    transition: 1s;
}

.banner-txt {
    height: 80%;
}

.banner-txt-container {
    width: 60%;
    color: white;
}

.banner-txt-container h2  {
    font-size: 60px;
    letter-spacing: 8px;
    margin-bottom: 30px;
}

.btn {
    margin-top: 20px;
    height: 40px;
    width: 150px;
    border-radius: 40px;
    background-color: white;
}

.btn a{
color: black;
font-weight: 600;
font-size: 16px;
}

.to-see {
    height: 80vh;
}

.to-see-title {
    width: 40%;
    height: 40%;
    font-size: 1.5rem;
}

.top-border-black {
    width: 65%;
    border-top: 1px solid black;
}

.top-border-white {
    width: 30%;
    border-top: 1px solid white;
}

.side-art {
    width: 60%;
    height: 40%;
}

.activities {
    height: 70vh;
    background-color: black;
}

.activities-desc {
    max-width: 60%;
    height: 250px;
}

.activities-desc p {
    color: white;
    max-width: 50%;
    font-size: 15px;
}

.btn-act {
    margin-top: 20px;
    height: 40px;
    width: 160px;
    border-radius: 40px;
    background-color: #cd0a6b;
    border: none;
}

.btn-act a{
color: white;
font-weight: 600;
font-size: 16px;
}

footer {
    height: 30vh;
    background-color: white;
}

.footer-bottom {
    font-size: 13px;
    position: relative;
    bottom: 0px;
}

.col-fo {
   width: 33.33%;
   text-align: center;
}

footer div ul li a {
    color: black;
    cursor: pointer;
}
