@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    }

a {
    color: white !important;
}

p {
    margin: 0;
    font-weight: 300;
}

header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(45,134,177,.80), rgba(45,134,177,.80)),
                url("./images/banner.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    max-width: 100px;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 650ms;
} 

.navbar-brand:hover {
    opacity: .7;
}

.hamburger-menu {
    position: fixed;
    top: 25px;
    right: 15px;
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 4px;
    cursor: pointer;
    z-index: 999;
}

.hamburger-menu i {
    font-size: 26px;
    color: white;
    margin: auto;
}

.hamburger-menu .fa-times {
    display: none;
}

.hamburger-menu .fa-times.open {
    display: block;
}

.hamburger-menu .fa-bars.open {
    display: none;
}

.nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(6,81,121,1);
    background: -moz-linear-gradient(top, rgba(6,81,121,1) 10%, rgba(42,121,151,1) 53%, rgba(72,155,177,1) 89%, rgba(75,158,179,1) 92%, rgba(75,158,179,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(10%, rgba(6,81,121,1)), color-stop(53%, rgba(42,121,151,1)), color-stop(89%, rgba(72,155,177,1)), color-stop(92%, rgba(75,158,179,1)), color-stop(100%, rgba(75,158,179,1)));
    background: -webkit-linear-gradient(top, rgba(6,81,121,1) 10%, rgba(42,121,151,1) 53%, rgba(72,155,177,1) 89%, rgba(75,158,179,1) 92%, rgba(75,158,179,1) 100%);
    background: -o-linear-gradient(top, rgba(6,81,121,1) 10%, rgba(42,121,151,1) 53%, rgba(72,155,177,1) 89%, rgba(75,158,179,1) 92%, rgba(75,158,179,1) 100%);
    background: -ms-linear-gradient(top, rgba(6,81,121,1) 10%, rgba(42,121,151,1) 53%, rgba(72,155,177,1) 89%, rgba(75,158,179,1) 92%, rgba(75,158,179,1) 100%);
    background: linear-gradient(to bottom, rgba(6,81,121,1) 10%, rgba(42,121,151,1) 53%, rgba(72,155,177,1) 89%, rgba(75,158,179,1) 92%, rgba(75,158,179,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#065179', endColorstr='#4b9eb3', GradientType=0 );
    list-style: none;
    z-index: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: scale(0);
    transition: opacity 700ms;
}

.about-us {
    height: 80vh;
    padding: 0 10px;
}

.nav-list.open {
    opacity: 1;
    transform: scale(1);
    transition: opacity 700ms;
}

.hero-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 45%);
    text-align: center;
}

.hero-text h1 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;

}

.hero-text p {
    letter-spacing: 1px;
}

.btn {
    width: 200px;
    padding: 5px 0 !important;
    background-color: #29A037;
    border-radius: 30px;
    transition: all 1s;
}

.btn:hover {
    background-color: #105819;
}

.text-institutional {
    padding: 25px 0 !important;
}

/* .about-us {
    padding:  !important;
} */


